.jumbotron {
    background-image: url(bino.jpg);
    color: #eee;
}
#howitworks {
    background-color: #244b6f;
    color: white;
}
.page-header {
    background-color: #244b6f;
    color: white;
}
